body{font-size: 25px}
table{width:90%;margin-left: 50px; margin-right: 50x;}
table td{text-align: center;padding: 40px}
table th{padding: 15px;top: 0px;background-color:#00cec9}
table tr:nth-child(2n+1){background:#81ecec}